.App {
  text-align: center;
  min-height: 100vh;
  background-color: #e5e5e5;
  overflow: scroll;
  padding: 2rem;
}

.details {
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 180px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 180px;
  cursor: pointer;
  justify-content: center;
}

.flag-image {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.spinner-backdrop {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgb(0, 0, 0, 0.2);
}

.spinner-border {
  display: block;
  position: fixed;
  top: calc(50% - (58px / 2));
  right: calc(50% - (58px / 2));
  color: red;
}
